<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>YouTube video Downloader</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script>
        function show(){
            var container = document.getElementById("show")
            container.innerHTML = "<p>Your Video is downloading</p>"
        }
    </script>
    <style>
        img {
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
        </style>
</head>
<body>

    <div class="ui container" style=" margin-top: 50px;">
        <div>
            <img src="https://1.bp.blogspot.com/-qdRfUNOtjkM/XeI_00z9pzI/AAAAAAAAF4E/FeD2SvVFnKUjPAKQ_cNM6-D2ahjKb0HkQCLcBGAsYHQ/s1600/Youtube-Icon-square-2340x2340-2.png" alt="YouTube Video Downloader" width="20%",height="10%">
            <h4 class="ui center aligned header">{{ url.title }}</h4><br>
        </div>
        <div class ="ui segment">
    <form action="{{ url_for('see_video') }}" method="POST" class="ui form">
        

    <select name="itag">
        {% for i in url.streams %}

        <option value="{{ i.itag }}">{{ i.mime_type}} {{ i.resolution }}</option>


        {% endfor %}
    </select><br><br>
    <input type="submit" value="Download" onclick="show()" class="fluid ui blue button">
    </form>
    </div>

    <div id="show">

    </div>
</div>
    
</body>
</html>